body{ margin:0; padding:0; font-family:"ו"; font-size:14px; color:#333333}
.wrap{ width:1400px; margin:0 auto}
.ysbox{box-shadow: 0 1px 5px rgba(0,0,0,0.1); border-radius:6px; border:1px solid #33CCCC; margin-bottom:20px; padding:10px 10px;}
.bdxz_a{ height:30px; line-height:30px; font-size:18px; font-weight:800}
.bd_box{ padding:10px;}
Input.lab_a{ display:none}
label{ cursor:pointer; text-align:center; display: inline-block; border-radius:4px; padding:0px 5px;}
label.lab_a{width:100px; height:30px; line-height:30px;border:1px solid #CCCCCC}
input[type="radio"]:checked + label {
    background:#FAFAFA ; border:1px solid #FF9933;
    color: #6699CC; border-bottom:3px solid #FF0000;
}

input[type="checkbox"]:checked + label {
    background:#FAFAFA ; border:1px solid #FF9933;
    color: #6699CC; border-bottom:3px solid #FF0000;
}

.xm_box{ padding:10px; margin-bottom:10px;border-radius:20px; border-top:2px solid #33CCCC;border-bottom:2px solid #33CCCC}
.xhsm{ border-bottom:0px dashed #6699FF; padding-bottom:10px;}
.xhsm .ttx{ height:30px; line-height:30px; font-size:16px}

.pzbox{ border:1px solid #CCCCCC; padding:10px; margin-bottom:10px; border-radius:10px;}
.pzhh{ height:30px; line-height:30px; margin-bottom:10px;}
.cxok{ margin-top:50px;}
.cxbtn{ width:200px; height:38px; border:1px solid #33CCCC; border-radius:6px; background: #33CCCC; color:#FFFFFF; cursor:pointer}
.czbtn{ width:120px; height:38px; border:1px solid #CCCCCC; border-radius:6px; background: #CCCCCC; color: #333333;cursor:pointer}


.itemlist{ margin-top:50px; border:1px solid #CCCCCC; padding-top:20px;}
.post{ width:380px; height:160px; float:left; margin-left:20px; margin-right:20px; padding:20px 20px; background:#6096E6; border-radius:20px; margin-bottom:20px;}
.post .pic{ width:180px; height:160px; float:left}
.post .pic img{ width:100%; height:160px; border-radius:8px;}
.post .bd{ float:right; width:200px; height:160px; text-align:center;}
.post .bd p.s1{ height:38px; line-height:38px; font-size:26px; color:#333333}
.post .bd p.s2{ height:30px; line-height:30px; font-size:26px; color: #FF9933}
.itemlist h3{ height:30px; line-height:30px; font-size:24px; font-weight:bold; color:#6699CC; background:#DEDEDE}